.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #0c1227;
  color: white;
  display: table;
  height: 150px;
  padding: 20px;
  width: 100%;
}

.App-intro {
  font-size: large;
}

.Button {
  background: #bd9165;
  border: 0 none;
  border-radius: 10px/30px;
  color: #4e2323;
  margin: 10px;
  padding: 10px 20px;
}
.Button:hover {
  color: #2e5046;
  cursor: pointer;
}

.Panel-checkboxes {
  font-size: 12px;
  margin: 5px 0 20px;
  text-align: left;
}
.Chb-message {
  margin-top: 0;
  vertical-align: middle;
}
.Chb-notification {
  margin-top: 0;
  vertical-align: middle;
  margin-left: 2em;
}

.Panel-msg {
  display: table;
  margin: 10px 0;
  width: 100%;
}

.Msg-container {
  background: #f1f8ff;
  border: 1px solid #ddd;
  display: inline-block;
  float: left;
  margin: 5px 1.5%;
  overflow: hidden;
  padding: 5px 0;
  transition: box-shadow 10s ease;
  vertical-align: middle;
}

.Msg-header {
  display: block;
  padding: 3em 0 1em;
  text-align: center;
  font-size: 20px;
}

.Msg {
  font-family: 'Architects Daughter', cursive;
  letter-spacing: 1px;
  margin: 10px;
}

.From-user {
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
}

.To-user {
  color: #777;
  display: inline-block;
  float: right;
  font-family: 'Shadows Into Light', cursive;
  font-size: 70%;
  margin: 6px 5px 0 20px;
}

.Img-user {
  border: 1px solid #ddd;
  border-radius: 50%;
  height: 35px;
  margin: 0 10px;
  vertical-align: middle;
}

.End-msg {
  color: #aaa;
  font-family: monospace;
  font-size: 12px;
  padding: 1.2em;
  text-align: center;
}

.Loader-panel {
  font-size: 12px;
  margin: 10% auto;
  position: relative;
  width: 100px;
}
.Loader-panel span {
  left: 25%;
  position: absolute;
  top: 45%;
}
.Loader {
  border: 5px #333;
  border-style: inset;
  border-radius: 50%;
  height: 100px;
  padding: 36px 21px;
  /* Animate */
  animation: rotate ease-in infinite;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 0s;
}

.Login {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 50px auto;
  padding: 0 2em 1em;
  text-align: right;
  width: 400px;
}
.Login h2 {
  text-align: left;
}
.Textbox {
  height: 39px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}
.Message {
  color: #00a000;
  text-align: center;
}
.Validation-text {
  color: #f00000;
  text-align: center;
}

.Fade-in {
  border-width: 1px;
  box-sizing: border-box;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 0s;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes fadeIn {
  0% { border-color: #8282e0; }
  20% { border-color: #777; }
  60% { border-color: blue; }
  100% { border-color: #ddd; }
}

@keyframes rotate {
  0% { transform: rotate(0deg);}
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
