.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #0c1227;
  color: white;
  display: table;
  height: 150px;
  padding: 20px;
  width: 100%;
}

.App-intro {
  font-size: large;
}

.Button {
  background: #bd9165;
  border: 0 none;
  border-radius: 10px/30px;
  color: #4e2323;
  margin: 10px;
  padding: 10px 20px;
}
.Button:hover {
  color: #2e5046;
  cursor: pointer;
}

.Panel-msg {
  margin: 10px 0;
}

.Msg-container {
  background: #eaf2ff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #dedede;
  margin: 0 auto 10px;
  overflow: hidden;
  padding: 5px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

.Msg {
  font-weight: bold;
  margin-top: 10px;
}

.From-user {
  color: #777;
  float: right;
  font-size: 80%;
  display: inline-block;
  margin: 0 1em;
}

.To-user {
  color: #777;
  float: right;
  font-size: 80%;
  display: inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
